@import './animations.css';
@import './close.css';
@import './colortype.css';
@import './container.css';
@import './icon.css';
@import './positions.css';
@import './responsive.css';

:root {
  --info-notif: var(--theme-primary);
  --success-notif: var(--theme-success);
  --error-notif: var(--theme-error);
}