@import './buttons.css';
@import './decorations.css';
@import './list.css';
@import './meta.css';
@import './responsive.css';
@import './rightbubble.css';
@import './rightcontainer.css';
@import './title.css';

/* Intro Section */
.intro {
	position: relative;
	padding: 6rem 0;
	background: var(--theme-bg);
	overflow: hidden;
    min-height: 100vh;
}

.intro__container {
	position: relative;
	z-index: 2;
	max-width: var(--container-xl);
	margin: 0 auto;
	padding: 0 2rem;
	display: grid;
	grid-template-columns: 1.1fr 0.9fr;
	gap: 4rem;
	align-items: center;
}


